# import

In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import selenium
import time
from bs4 import BeautifulSoup
import requests

In [3]:
df = pd.read_csv("D:/kwangwoon/2023_2학기/빅데이터처리및응용/teamproject/trash/movies.csv")

In [4]:
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
df['movieId'].nunique()

9742

# 결측 장르 영화 확인

In [10]:
no_genres = df[df['genres'] == '(no genres listed)']

In [21]:
df_links = pd.read_csv("D:/kwangwoon/2023_2학기/빅데이터처리및응용/teamproject/links.csv", usecols=['movieId', 'imdbId'])

In [22]:
df_links.head()

   movieId  imdbId
0        1  114709
1        2  113497
2        3  113228
3        4  114885
4        5  113041

# 장르 결측치 처리

In [23]:
# 장르가 없는 영화 df와 link 데이터프레임을 병합하여 imdbId를 연결
no_genre_movies = pd.merge(no_genres, df_links, on='movieId')

In [24]:
# 인덱스를 movieId로 변경
no_genre_movies.index = no_genre_movies['movieId']

In [25]:
# movieId 컬럼은 삭제
no_genre_movies.drop('movieId', axis=1, inplace=True)

In [26]:
# imdbId 값을 모두 str로 변환
no_genre_movies['imdbId'] = no_genre_movies['imdbId'].astype(str)

In [27]:
# imdbId 전처리
no_genre_movies['imdbId'] = no_genre_movies['imdbId'].apply(lambda x: '0' * (7 - len(x)) + x if len(x) < 7 else x)

In [28]:
no_genre_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 114335 to 182727
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   34 non-null     object
 1   genres  34 non-null     object
 2   imdbId  34 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [29]:
no_genre_movies

,title,genres,imdbId
movieId,,,
114335,La cravate (1957),(no genres listed),0121731
122888,Ben-hur (2016),(no genres listed),2638144
122896,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),1790809
129250,Superfast! (2015),(no genres listed),2933474
132084,Let It Be Me (1995),(no genres listed),0113638
134861,Trevor Noah: African American (2013),(no genres listed),3043546
141131,Guardians (2016),(no genres listed),4600952
141866,Green Room (2015),(no genres listed),4062536
142456,The Brand New Testament (2015),(no genres listed),3792960
143410,Hyena Road,(no genres listed),4034452
147250,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),0229922
149330,A Cosmic Christmas (1977),(no genres listed),0182015
152037,Grease Live (2016),(no genres listed),4366830
155589,Noin 7 veljestä (1968),(no genres listed),0134854
156605,Paterson,(no genres listed),5247022
159161,Ali Wong: Baby Cobra (2016),(no genres listed),5066574
159779,A Midsummer Night's Dream (2016),(no genres listed),5051278
161008,The Forbidden Dance (1990),(no genres listed),0099595
165489,Ethel & Ernest (2016),(no genres listed),1725969
166024,Whiplash (2013),(no genres listed),2654430
167570,The OA,(no genres listed),4635282
169034,Lemonade (2016),(no genres listed),5662106
171495,Cosmos,(no genres listed),0081846
171631,Maria Bamford: Old Baby,(no genres listed),6264596
171749,Death Note: Desu nôto (2006–2007),(no genres listed),0877057
171891,Generation Iron 2,(no genres listed),6263642
172497,T2 3-D: Battle Across Time (1996),(no genres listed),0117880
172591,The Godfather Trilogy: 1972-1990 (1992),(no genres listed),0150742
173535,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),0459945
174403,The Putin Interviews (2017),(no genres listed),6840134
176601,Black Mirror,(no genres listed),2492564
181413,Too Funny to Fail: The Life and Death of The D...,(no genres listed),7544820
181719,Serving in Silence: The Margarethe Cammermeyer...,(no genres listed),0114395
182727,A Christmas Story Live! (2017),(no genres listed),6881890

In [30]:
# 크롬 드라이버 설치, 연결
s = Service("D:\chromedriver.exe")
driver = webdriver.Chrome(service=s)

# 브라우저 화면 크기 변경하기
driver.maximize_window()

In [31]:
# 각 행에 대해 URL 생성 및 접속
for index, row in no_genre_movies.iterrows():
    imdb_id = row['imdbId']
    url = f"https://www.imdb.com/title/tt{imdb_id}/"

    # 해당 URL에 접속
    driver.get(url)
    time.sleep(1)
    # 웹 페이지에서 필요한 작업 수행 가능
    try:
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        genre_list = soup.select('div.ipc-chip-list__scroller > a.ipc-chip.ipc-chip--on-baseAlt')
        result = '|'.join([genre.text for genre in genre_list])
        no_genre_movies.at[index, 'genres'] = result
        
    except:
        print(f'{index} : failed')
        continue
    

    # 예시로 현재 URL 출력
    current_url = driver.current_url
    print(f"Index: {index}, IMDb URL: {current_url}, genres: {result}")

driver.quit()

Index: 114335, IMDb URL: https://www.imdb.com/title/tt0121731/, genres: Short|Comedy
Index: 122888, IMDb URL: https://www.imdb.com/title/tt2638144/, genres: Action|Drama|Romance
Index: 122896, IMDb URL: https://www.imdb.com/title/tt1790809/, genres: Action|Adventure|Fantasy
Index: 129250, IMDb URL: https://www.imdb.com/title/tt2933474/, genres: Comedy
Index: 132084, IMDb URL: https://www.imdb.com/title/tt0113638/, genres: Drama|Romance
Index: 134861, IMDb URL: https://www.imdb.com/title/tt3043546/, genres: Comedy
Index: 141131, IMDb URL: https://www.imdb.com/title/tt4600952/, genres: Action|Adventure|Comedy
Index: 141866, IMDb URL: https://www.imdb.com/title/tt4062536/, genres: Crime|Drama|Horror
Index: 142456, IMDb URL: https://www.imdb.com/title/tt3792960/, genres: Comedy|Fantasy
Index: 143410, IMDb URL: https://www.imdb.com/title/tt4034452/, genres: Action|Drama|War
Index: 147250, IMDb URL: https://www.imdb.com/title/tt0229922/, genres: Crime|Drama|Mystery
Index: 149330, IMDb URL: https://www.imdb.com/title/tt0182015/, genres: Animation|Family|Sci-Fi
Index: 152037, IMDb URL: https://www.imdb.com/title/tt4366830/, genres: Comedy|Musical|Romance
Index: 155589, IMDb URL: https://www.imdb.com/title/tt0134854/, genres: Adventure|Comedy
Index: 156605, IMDb URL: https://www.imdb.com/title/tt5247022/, genres: Comedy|Drama|Romance
Index: 159161, IMDb URL: https://www.imdb.com/title/tt5066574/, genres: Comedy
Index: 159779, IMDb URL: https://www.imdb.com/title/tt5051278/, genres: Comedy|Fantasy|Romance
Index: 161008, IMDb URL: https://www.imdb.com/title/tt0099595/, genres: Drama|Music|Romance
Index: 165489, IMDb URL: https://www.imdb.com/title/tt1725969/, genres: Animation|Drama|History
Index: 166024, IMDb URL: https://www.imdb.com/title/tt2654430/, genres: Short|Drama|Music
Index: 167570, IMDb URL: https://www.imdb.com/title/tt4635282/, genres: Drama|Fantasy|Mystery
Index: 169034, IMDb URL: https://www.imdb.com/title/tt5662106/, genres: Music|Musical
Index: 171495, IMDb URL: https://www.imdb.com/title/tt0081846/, genres: Documentary
Index: 171631, IMDb URL: https://www.imdb.com/title/tt6264596/, genres: Documentary|Comedy
Index: 171749, IMDb URL: https://www.imdb.com/title/tt0877057/, genres: Animation|Crime|Drama
Index: 171891, IMDb URL: https://www.imdb.com/title/tt6263642/, genres: Documentary
Index: 172497, IMDb URL: https://www.imdb.com/title/tt0117880/, genres: Short|Action|Sci-Fi
Index: 172591, IMDb URL: https://www.imdb.com/title/tt0150742/, genres: Crime|Drama|Thriller
Index: 173535, IMDb URL: https://www.imdb.com/title/tt0459945/, genres: Crime|Drama|Mystery
Index: 174403, IMDb URL: https://www.imdb.com/title/tt6840134/, genres: Documentary|Biography
Index: 176601, IMDb URL: https://www.imdb.com/title/tt2492564/, genres: Short
Index: 181413, IMDb URL: https://www.imdb.com/title/tt7544820/, genres: Documentary
Index: 181719, IMDb URL: https://www.imdb.com/title/tt0114395/, genres: Biography|Drama
Index: 182727, IMDb URL: https://www.imdb.com/title/tt6881890/, genres: Musical

In [32]:
no_genre_movies

,title,genres,imdbId
movieId,,,
114335,La cravate (1957),Short|Comedy,0121731
122888,Ben-hur (2016),Action|Drama|Romance,2638144
122896,Pirates of the Caribbean: Dead Men Tell No Tal...,Action|Adventure|Fantasy,1790809
129250,Superfast! (2015),Comedy,2933474
132084,Let It Be Me (1995),Drama|Romance,0113638
134861,Trevor Noah: African American (2013),Comedy,3043546
141131,Guardians (2016),Action|Adventure|Comedy,4600952
141866,Green Room (2015),Crime|Drama|Horror,4062536
142456,The Brand New Testament (2015),Comedy|Fantasy,3792960
143410,Hyena Road,Action|Drama|War,4034452
147250,The Adventures of Sherlock Holmes and Doctor W...,Crime|Drama|Mystery,0229922
149330,A Cosmic Christmas (1977),Animation|Family|Sci-Fi,0182015
152037,Grease Live (2016),Comedy|Musical|Romance,4366830
155589,Noin 7 veljestä (1968),Adventure|Comedy,0134854
156605,Paterson,Comedy|Drama|Romance,5247022
159161,Ali Wong: Baby Cobra (2016),Comedy,5066574
159779,A Midsummer Night's Dream (2016),Comedy|Fantasy|Romance,5051278
161008,The Forbidden Dance (1990),Drama|Music|Romance,0099595
165489,Ethel & Ernest (2016),Animation|Drama|History,1725969
166024,Whiplash (2013),Short|Drama|Music,2654430
167570,The OA,Drama|Fantasy|Mystery,4635282
169034,Lemonade (2016),Music|Musical,5662106
171495,Cosmos,Documentary,0081846
171631,Maria Bamford: Old Baby,Documentary|Comedy,6264596
171749,Death Note: Desu nôto (2006–2007),Animation|Crime|Drama,0877057
171891,Generation Iron 2,Documentary,6263642
172497,T2 3-D: Battle Across Time (1996),Short|Action|Sci-Fi,0117880
172591,The Godfather Trilogy: 1972-1990 (1992),Crime|Drama|Thriller,0150742
173535,The Adventures of Sherlock Holmes and Doctor W...,Crime|Drama|Mystery,0459945
174403,The Putin Interviews (2017),Documentary|Biography,6840134
176601,Black Mirror,Short,2492564
181413,Too Funny to Fail: The Life and Death of The D...,Documentary,7544820
181719,Serving in Silence: The Margarethe Cammermeyer...,Biography|Drama,0114395
182727,A Christmas Story Live! (2017),Musical,6881890

In [33]:
# df의 'movieId' 컬럼 값과 동일한 no_genre_movies의 인덱스를 찾아 'genres' 컬럼 값을 수정
df.loc[df['movieId'].isin(no_genre_movies.index), 'genres'] = df['movieId'].map(no_genre_movies['genres'])

In [162]:
# csv 파일로 저장
df.to_csv('./movie_genre_added.csv', index=False)

# 연도 결측치 처리

In [35]:
df = pd.read_csv('./trash/movie_genre_added.csv')

In [36]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [37]:
# 뒷자리가 '(' 로 시작하지 않는 row만 추출
no_years = df[~df['title'].str.contains('\(')]

In [38]:
# 장르 전처리와 유사하게 진행
no_year_movies = pd.merge(no_years, df_links, on='movieId')

no_year_movies.index = no_year_movies['movieId']

no_year_movies.drop('movieId', axis=1, inplace=True)

no_year_movies['imdbId'] = no_year_movies['imdbId'].astype(str)

no_year_movies['imdbId'] = no_year_movies['imdbId'].apply(lambda x: '0' * (7 - len(x)) + x if len(x) < 7 else x)

no_year_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 40697 to 176601
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12 non-null     object
 1   genres  12 non-null     object
 2   imdbId  12 non-null     object
dtypes: object(3)
memory usage: 384.0+ bytes

In [40]:
# 연도 결측인 데이터들
no_year_movies

,title,genres,imdbId
movieId,,,
40697,Babylon 5,Sci-Fi,0105946
140956,Ready Player One,Action|Sci-Fi|Thriller,1677720
143410,Hyena Road,Action|Drama|War,4034452
147250,The Adventures of Sherlock Holmes and Doctor W...,Crime|Drama|Mystery,0229922
149334,Nocturnal Animals,Drama|Thriller,4550098
156605,Paterson,Comedy|Drama|Romance,5247022
162414,Moonlight,Drama,4975722
167570,The OA,Drama|Fantasy|Mystery,4635282
171495,Cosmos,Documentary,0081846
171631,Maria Bamford: Old Baby,Documentary|Comedy,6264596
171891,Generation Iron 2,Documentary,6263642
176601,Black Mirror,Short,2492564

In [66]:
# 크롬 드라이버 설치, 연결
s = Service("D:\chromedriver.exe")
driver = webdriver.Chrome(service=s)

# 브라우저 화면 크기 변경하기
driver.maximize_window()

In [67]:
# 각 행에 대해 URL 생성 및 접속
for index, row in no_year_movies.iterrows():
    imdb_id = row['imdbId']
    url = f"https://www.imdb.com/title/tt{imdb_id}/"

    # 해당 URL에 접속
    driver.get(url)
    time.sleep(1)
    # 웹 페이지에서 필요한 작업 수행 가능
    try:
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        year = soup.select('div.sc-69e49b85-0.jqlHBQ > ul > li> a.ipc-link.ipc-link--baseAlt.ipc-link--inherit-color')[0].text
        no_year_movies.at[index, 'years'] = year
        
    except:
        print(f'{index} : failed')
        continue
    

    # 예시로 현재 URL 출력
    current_url = driver.current_url
    print(f"Index: {index}, IMDb URL: {current_url}, years: {year}")

driver.quit()

Index: 40697, IMDb URL: https://www.imdb.com/title/tt0105946/, years: 1993–1998
Index: 140956, IMDb URL: https://www.imdb.com/title/tt1677720/, years: 2018
Index: 143410, IMDb URL: https://www.imdb.com/title/tt4034452/, years: 2015
147250 : failed
Index: 149334, IMDb URL: https://www.imdb.com/title/tt4550098/, years: 2016
Index: 156605, IMDb URL: https://www.imdb.com/title/tt5247022/, years: 2016
Index: 162414, IMDb URL: https://www.imdb.com/title/tt4975722/, years: 2016
Index: 167570, IMDb URL: https://www.imdb.com/title/tt4635282/, years: 2016–2019
Index: 171495, IMDb URL: https://www.imdb.com/title/tt0081846/, years: 1980
Index: 171631, IMDb URL: https://www.imdb.com/title/tt6264596/, years: 2017
Index: 171891, IMDb URL: https://www.imdb.com/title/tt6263642/, years: 2017
Index: 176601, IMDb URL: https://www.imdb.com/title/tt2492564/, years: 2011

In [68]:
# 크롤링 되지 않은 한 값만 직접 입력
no_year_movies.loc[147250, 'years'] = '1980'

In [69]:
no_year_movies

,title,genres,imdbId,years
movieId,,,,
40697,Babylon 5,Sci-Fi,0105946,1993–1998
140956,Ready Player One,Action|Sci-Fi|Thriller,1677720,2018
143410,Hyena Road,Action|Drama|War,4034452,2015
147250,The Adventures of Sherlock Holmes and Doctor W...,Crime|Drama|Mystery,0229922,1980
149334,Nocturnal Animals,Drama|Thriller,4550098,2016
156605,Paterson,Comedy|Drama|Romance,5247022,2016
162414,Moonlight,Drama,4975722,2016
167570,The OA,Drama|Fantasy|Mystery,4635282,2016–2019
171495,Cosmos,Documentary,0081846,1980
171631,Maria Bamford: Old Baby,Documentary|Comedy,6264596,2017
171891,Generation Iron 2,Documentary,6263642,2017
176601,Black Mirror,Short,2492564,2011

In [70]:
# for문을 사용하여 '-'가 있는 경우 처리
for index, row in no_year_movies.iterrows():
    if '–' in row['years']:
        split_years = row['years'].split('–')
        no_year_movies.at[index, 'years'] = split_years[0]

In [71]:
no_year_movies

,title,genres,imdbId,years
movieId,,,,
40697,Babylon 5,Sci-Fi,0105946,1993
140956,Ready Player One,Action|Sci-Fi|Thriller,1677720,2018
143410,Hyena Road,Action|Drama|War,4034452,2015
147250,The Adventures of Sherlock Holmes and Doctor W...,Crime|Drama|Mystery,0229922,1980
149334,Nocturnal Animals,Drama|Thriller,4550098,2016
156605,Paterson,Comedy|Drama|Romance,5247022,2016
162414,Moonlight,Drama,4975722,2016
167570,The OA,Drama|Fantasy|Mystery,4635282,2016
171495,Cosmos,Documentary,0081846,1980
171631,Maria Bamford: Old Baby,Documentary|Comedy,6264596,2017
171891,Generation Iron 2,Documentary,6263642,2017
176601,Black Mirror,Short,2492564,2011

In [72]:
# no_year_movies의 각 행에 대해 title 수정
for index, row in no_year_movies.iterrows():
    movie_id = index
    new_title = row['title'] + f" ({row['years']})" if pd.notna(row['years']) else row['title']
    
    # df 데이터프레임에서 해당 movieId의 title 수정
    mask = (df['movieId'] == movie_id)
    df.loc[mask, 'title'] = new_title

In [73]:
# 잘 전처리 되었는지 확인
df[~df['title'].str.contains('\(')]

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [109]:
df.to_csv('./movie_genre_year_added.csv', index=False)